name: Deploy Laravel to VPS

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: "8.2"
                  extensions: mbstring, bcmath, xml, ctype, json, gd, pdo_mysql, curl, zip

            - name: Install Composer dependencies
              run: |
                  composer update --lock --no-interaction
                  composer install --no-interaction --prefer-dist --optimize-autoloader --no-dev

            - name: Deploy to VPS via rsync
              uses: easingthemes/ssh-deploy@v5.0.3
              with:
                  SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
                  REMOTE_HOST: ${{ secrets.SERVER_IP }}
                  REMOTE_USER: ${{ secrets.SERVER_USER }}
                  REMOTE_PORT: ${{ secrets.SERVER_PORT }}
                  TARGET: /home/clenicapp.com/public_html/ws.clenicapp.com
                  ARGS: "-avzr --delete --exclude='.git*' --exclude='storage/' --exclude='.env'"
                  SOURCE: "./"
                  SCRIPT_AFTER: |
                      cd /home/clenicapp.com/public_html/ws.clenicapp.com

                      # Create database directory if not exists
                      mkdir -p database
                      
                      # Create SQLite database file if not exists
                      touch database/database.sqlite

                      # Set permission
                      chmod -R 755 /home/clenicapp.com/public_html/ws.clenicapp.com
                      chmod -R 775 storage bootstrap/cache database
                      chmod 664 database/database.sqlite

                      # Maintenance mode ON
                      php artisan down || true

                      # Migrasi & optimize
                      php artisan migrate --force
                      php artisan config:cache
                      php artisan route:cache
                      php artisan view:cache
                      php artisan storage:link
                      php artisan optimize:clear
                      php artisan optimize

                      # Maintenance mode OFF
                      php artisan up
