name: Deploy Laravel to VPS

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: "8.3"
                  extensions: mbstring, bcmath, xml, ctype, json, gd, pdo_mysql, curl, zip

            - name: Install Composer dependencies
              run: composer install --no-interaction --prefer-dist --optimize-autoloader --no-dev

            - name: Deploy to VPS via SFTP
              uses: wlixcc/SFTP-Deploy-Action@v1.2.4
              with:
                  username: ${{ secrets.SERVER_USER }}
                  server: ${{ secrets.SERVER_IP }}
                  port: ${{ secrets.SERVER_PORT }}
                  ssh_private_key: ${{ secrets.SERVER_SSH_KEY }}
                  local_path: "./*"
                  remote_path: "/var/www/laravel-app"
                  sftpArgs: "-o ConnectTimeout=5"
                  delete_remote_files: true

            - name: Run deployment commands
              uses: appleboy/ssh-action@v1.0.0
              with:
                  host: ${{ secrets.SERVER_IP }}
                  username: ${{ secrets.SERVER_USER }}
                  key: ${{ secrets.SERVER_SSH_KEY }}
                  script: |
                      cd /var/www/laravel-app

                      # Set kepemilikan ke www-data (user web server)
                      sudo chown -R www-data:www-data /var/www/laravel-app

                      # Atur permission file & folder
                      sudo find /var/www/laravel-app -type f -exec chmod 644 {} \;
                      sudo find /var/www/laravel-app -type d -exec chmod 755 {} \;

                      # Kasih akses tulis untuk storage & bootstrap/cache
                      sudo chgrp -R www-data storage bootstrap/cache
                      sudo chmod -R ug+rwx storage bootstrap/cache

                      # Maintenance mode ON
                      php artisan down || true

                      # Migrasi & optimize
                      php artisan migrate --force
                      php artisan config:cache
                      php artisan route:cache
                      php artisan view:cache
                      php artisan storage:link
                      php artisan optimize:clear
                      php artisan optimize

                      # Maintenance mode OFF
                      php artisan up
